<template>
  <div class="upload-dialog">
    <el-dialog title="文件上传" :visible.sync="dialogVisible" width="50%" :before-close="handleClose" custom-class="main" :close-on-click-modal="false">
      <div class="main">
        <el-upload ref="upload" class="upload" drag action="#" multiple :auto-upload="false" :on-change="fileChange" :on-remove="fileRemove">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">
            将文件拖到此处，或
            <em>点击上传</em>
          </div>
          <!-- <div slot="tip" class="el-upload__tip">一次只能上传10个文件</div> -->
        </el-upload>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="changeDialogVisible(false)">取 消</el-button>
        <el-button type="primary" @click="startUpload">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props: {
    dialogVisible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fileList: []
    }
  },
  methods: {
    changeDialogVisible(val) {
      this.$emit('changeDialogVisible', val)
    },
    // 文件改变
    fileChange(file, fileList) {
      this.fileList = fileList
    },
    // 删除文件
    fileRemove(file, fileList) {
      this.fileList = fileList
    },
    // 关闭弹框
    handleClose() {
      const that = this
      this.$confirm('确认关闭？')
        .then(_ => {
          that.changeDialogVisible(false)
        })
        .catch(_ => {})
    },
    // 开始上传入口
    async startUpload() {
      this.$store.dispatch('upload/setUploadData', this.fileList)
      this.changeDialogVisible(false)
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-dialog {
  .main {
    display: flex;
    justify-content: center;
    .upload {
      width: 100%;
      display: flex;
      flex-direction: column;
      & ::v-deep {
        .el-upload-list {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .el-upload-list__item {
            width: 50%;
          }
        }
        .el-upload-dragger {
          width: 100%;
        }
      }
    }
  }
}
</style>
