<template>
  <div>
    <div class="left"><img src="@/assets/images/file.png" alt="" /></div>
    <div class="right">
      <div class="right-top">
        <div class="file-name">{{ fileInfo.filename }}</div>
        <div class="file-size">{{ fileInfo.size }}</div>
      </div>
      <div class="right-bottom">上传时间 {{ fileInfo.date }}</div>
      <div class="state">
        <div>{{ state[fileInfo.state] }}</div>
        <div v-show="fileInfo.state === 0 || fileInfo.state === 1" class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
    <el-progress type="circle" :percentage="fileInfo.percentage" :color="colors" :status="setStatus()" />
  </div>
</template>

<script>
// import { deepClone } from '@/utils'
const SIZE = 10 * 1024 * 1024
import { upload, exist } from '@/api/upload'
import { getWorkspace } from '@/utils/auth'
// import axios from 'axios'
export default {
  props: {
    fileData: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      colors: [
        { color: '#f56c6c', percentage: 25 },
        { color: '#e6a23c', percentage: 50 },
        { color: '#1989fa', percentage: 75 },
        { color: '#5cb87a', percentage: 100 }
      ],
      // source: null,
      state: ['读取md5', '上传中', '上传完成', '文件已存在', '上传失败'],
      data: [],
      fileInfo: {},
      container: {
        file: null,
        hash: '',
        worker: null
      }
    }
  },
  created() {
    this.init()
  },
  methods: {
    // 初始化请求
    async init() {
      this.fileInfo = {
        filename: this.fileData.filename,
        date: this.fileData.date,
        percentage: this.fileData.percentage,
        state: this.fileData.state,
        isUploadFaild: this.fileData.isUploadFaild,
        fileType: this.fileData.fileType
      }
      this.handleData()
    },
    // 处理数据
    async handleData() {
      this.container.file = await this.fileData.value
      const fileChunkList = this.createFileChunk(this.fileData.value)
      this.container.hash = await this.calculateHash(fileChunkList)
      exist({ workspace: getWorkspace(), md5: this.container.hash })
        .then(res => {
          if (res.body) {
            this.fileInfo.percentage = 100
            this.fileInfo.state = 2
            this.$emit('updateTable')
          } else {
            this.fileInfo.state = 1
            this.data = fileChunkList.map(({ chunk, filename }, index) => ({
              fileHash: this.container.hash,
              index,
              filename,
              hash: this.container.hash + '-' + index,
              chunk: chunk,
              size: chunk.size
            }))
            this.uploadChunks(fileChunkList)
          }
        })
        .catch(e => {
          if (e.message === '文件已存在') this.fileInfo.state = 3
          else this.fileInfo.state = 4
          this.fileInfo.isUploadFaild = true
        })
    },
    // 生成文件切片
    createFileChunk(file, size = SIZE) {
      const fileChunkList = []
      let cur = 0
      while (cur < file.size) {
        fileChunkList.push({ chunk: file.raw.slice(cur, cur + size), filename: file.name })
        cur += size
      }
      return fileChunkList
    },
    // 生成文件 hash（web-worker）
    calculateHash(fileChunkList) {
      return new Promise(resolve => {
        this.container.worker = new Worker('/hash.js')
        this.container.worker.postMessage({ fileChunkList })
        this.container.worker.onmessage = e => {
          const { percentage, hash } = e.data
          this.hashPercentage = percentage
          if (hash) {
            resolve(hash)
          }
        }
      })
    },
    // 整理文件，开始上传
    async uploadChunks(uploadedList = []) {
      let total = 0
      let count = 0
      const requestList = this.data
        .filter(({ hash }) => !uploadedList.includes(hash))
        .map(({ chunk, hash, filename }, index, arr) => {
          const formData = new FormData()
          formData.append('file', chunk, filename)
          formData.append('md5', hash.split('-')[0])
          formData.append('blocks', arr.length)
          formData.append('index', index)
          formData.append('type', this.fileInfo.fileType)

          total += 1
          return formData
        })
        .map(async formData => {
          return upload(formData)
            .then(res => {
              const temp = res.body
              count++
              this.fileInfo.percentage = parseInt((count / temp.blocks) * 100)
              if (count === total) {
                this.fileInfo.state = 2
                this.$emit('updateTable')
              }
            })
            .catch(e => {
              if (e.message === '文件已存在') this.fileInfo.state = 3
              else this.fileInfo.state = 4
              this.fileInfo.isUploadFaild = true
              // this.$store.dispatch('axios/cancelAxios', '终止axios请求')
            })
        })
      await Promise.all(requestList)
    },
    // // 取消请求
    // handleCancel() {
    //   this.source.cancel('取消请求')
    //   // cancel内的取消请求可以当成是取消请求后抛出的提示文案，可打印this.source.cancel('取消请求')看看
    // },
    setStatus() {
      if (this.fileInfo.isUploadFaild === false) {
        if (this.fileInfo.percentage === 100) return 'success'
        else return null
      } else {
        return 'exception'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.left {
  display: flex;
  img {
    margin: auto;
    height: 48px;
  }
}
.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #67cf22;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 5px;
  .right-top {
    display: flex;
    .file-name {
      font-size: 12px;
      font-weight: 500;
      color: #333333;
      line-height: 18px;
      padding-right: 5px;
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .file-size {
      opacity: 0.87;
      font-size: 12px;
      color: #666666;
      line-height: 18px;
    }
  }
  .right-bottom {
    font-size: 12px;
    color: #666666;
    line-height: 18px;
  }
  .right-progress {
    padding: 0 8px 0 0;
  }
  .state {
    font-size: 12px;
    color: #409eff;
    display: flex;
  }
}
::v-deep {
  .el-progress-circle {
    width: 48px !important;
    height: 48px !important;
  }
  .el-progress__text {
    font-size: 12px !important;
  }
}
</style>
