<template>
  <div class="table-container">
    <vxe-toolbar>
      <template #buttons>
        <div class="table-operation">
          <div class="table-operation-left">
            <vxe-button status="primary" @click="openDialog">上传文件</vxe-button>
            <el-dropdown @command="moreMenus">
              <el-button class="ml-md" :disabled="selectData.length === 0">
                更多菜单
                <i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>下载</el-dropdown-item>
                <!-- <el-dropdown-item>导出 URL</el-dropdown-item> -->
                <el-dropdown-item command="remove">删除文件</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
          <div class="table-operation-right">
            <el-input v-model="search" suffix-icon="el-icon-search" placeholder="请输入文件名前缀搜索" @keyup.enter.native="initialize" />
          </div>
        </div>
      </template>
    </vxe-toolbar>

    <div class="table">
      <vxe-table ref="xTable" highlight-hover-row height="100%" show-overflow :data="tableData" :checkbox-config="{ highlight: true }" @checkbox-change="selectChangeEvent" @checkbox-all="selectAll">
        <vxe-column type="checkbox" width="60" />
        <!-- <vxe-column type="seq" title="序号" width="80" /> -->
        <vxe-column field="filename" title="文件名" />
        <vxe-column field="contentType" title="文件类型" />
        <vxe-column field="size" title="文件大小" :formatter="formatFileSize" />
        <vxe-column field="createTime" title="创建时间" />
        <vxe-column title="操作" width="120">
          <template #default="{ row }">
            <div class="operation">
              <div class="primary-color" @click="openDrawer(row)">详情</div>
              <el-dropdown
                @command="
                  command => {
                    handleCommand(command, row)
                  }
                "
              >
                <span class="primary-color">
                  更多
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command="download">下载</el-dropdown-item>
                  <el-dropdown-item command="copy">复制链接</el-dropdown-item>
                  <el-dropdown-item command="remove">删除文件</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </template>
        </vxe-column>
      </vxe-table>
    </div>
    <vxe-pager
      background
      :loading="loading"
      size="small"
      :current-page="tablePage.currentPage"
      :page-size="tablePage.pageSize"
      :total="tablePage.totalResult"
      :page-sizes="[10, 20, 100, { label: '大量数据', value: 1000 }, { label: '全量数据', value: -1 }]"
      :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Sizes', 'Total']"
      @page-change="handlePageChange"
    />
    <file-info ref="fileInfo" :drawer-data="drawerData" @changeDrawerVisible="changeDrawerVisible" @initialize="initialize" />
    <upload-dialog v-if="dialogVisible" ref="uploadDialog" :dialog-visible="dialogVisible" @changeDialogVisible="changeDialogVisible" />
    <file-upload-progress ref="uploadProgress" @initialize="initialize" />
  </div>
</template>

<script>
import { formatFileSize } from '@/utils/index'
import { page, remove } from '@/api/upload'
import { getWorkspace } from '@/utils/auth'
import UploadDialog from '@/components/UploadDialog'
import FileInfo from '@/components/FileInfo'
import FileUploadProgress from '@/components/FileUploadProgress'

export default {
  components: { UploadDialog, FileInfo, FileUploadProgress },
  data() {
    return {
      tableData: [],
      search: '',
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        totalResult: 0
      },
      formatFileSize: formatFileSize,
      drawerData: {},
      selectData: [],
      loading: false,
      dialogVisible: false,
      drawerVisible: false
    }
  },
  created() {
    this.initialize()
  },
  methods: {
    changeDrawerVisible(val) {
      this.drawerVisible = val
    },
    changeDialogVisible(val) {
      this.dialogVisible = val
    },
    // 初始化
    initialize() {
      const params = {
        workspace: getWorkspace(),
        filename: this.search,
        pageNum: this.tablePage.currentPage,
        pageSize: this.tablePage.pageSize
      }
      page(params).then(res => {
        this.tableData = res.body.records
        this.tablePage.totalResult = res.body.total
        this.$emit('fetch')
      })
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.pageSize = pageSize
      this.tablePage.currentPage = currentPage
      const params = {
        workspace: getWorkspace(),
        filename: this.search,
        pageNum: this.tablePage.currentPage,
        pageSize: this.tablePage.pageSize
      }
      page(params).then(res => {
        this.tableData = res.body.records
        this.tablePage.totalResult = res.body.total
      })
    },
    // 开启文件上传弹框
    openDialog() {
      this.changeDialogVisible(true)
    },
    // 开启文件详情抽屉
    async openDrawer(data) {
      await this.$refs.fileInfo.setData(data)
      this.$refs.fileInfo.openDrawer(true)
    },
    selectAll({ records }) {
      this.selectData = records
    },
    selectChangeEvent({ checked, records }) {
      this.selectData = this.$refs.xTable.getCheckboxRecords()
    },
    cancelRowEvent(row) {
      const $table = this.$refs.xTable
      $table.clearActived().then(() => $table.revertData(row))
    },
    // 表格更多按钮操作
    handleCommand(command, row) {
      if (command === 'remove') this.removeFile(row, false)
      else if (command === 'download') window.location.href = row.path
      else if (command === 'copy') this.copyToClip(row.path)
    },
    moreMenus(command) {
      if (command === 'remove') this.removeFile(this.selectData, true)
    },
    // 删除文件
    removeFile(row, isMultiple) {
      const message = isMultiple ? '此操作将永久删除选中文件, 是否继续?' : '此操作将永久删除该文件, 是否继续?'
      const params = isMultiple ? row.map(d => d.md5) : [row.md5]
      this.$confirm(message, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          remove({
            workspace: getWorkspace(),
            md5: params
          }).then(res => {
            this.$message({
              type: 'success',
              message: '删除成功!'
            })
            this.selectData = []
            this.tablePage.currentPage = 1
            this.initialize()
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
    },
    /**
     * 复制单行内容到粘贴板
     * content : 需要复制的内容
     * message : 复制完后的提示，不传则默认提示"复制成功"
     */
    copyToClip(content, message) {
      var aux = document.createElement('input')
      aux.setAttribute('value', content)
      document.body.appendChild(aux)
      aux.select()
      document.execCommand('copy')
      document.body.removeChild(aux)
      const msg = message || '文件链接已复制到剪贴板'
      this.$message({
        type: 'success',
        showClose: true,
        message: msg,
        duration: 2000
      })
    }
  }
}
</script>

<style>
.vxe-table--tooltip-wrapper {
  max-width: 300px;
}
.row--checked {
  background-color: #f2fcff !important;
}
.row--hover {
  background-color: #f2fcff !important;
}
</style>
<style lang="scss" scoped>
.table-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  ::v-deep {
    .el-button {
      padding: 0 1em;
      height: 34px;
    }
  }
  .table-operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .table-operation-right {
      ::v-deep {
        .el-input {
          width: 320px;
        }
      }
    }
  }

  .table {
    flex: 1;
    // .edit-name {
    //   ::v-deep {
    //     .el-input {
    //       width: 60%;
    //     }
    //   }
    // }
    .operation {
      display: flex;
      div {
        cursor: pointer;
        &:nth-child(n + 1) {
          padding: 0 8px;
        }
      }
    }
  }
}
</style>
