<template>
  <el-drawer title="文件详情" :with-header="false" :visible.sync="drawer" size="620px">
    <div class="drawer-container">
      <div class="drawer-container-header">
        <div>
          文件详情
        </div>
      </div>
      <div class="drawer-container-main">
        <div class="file-name">
          <span></span>
          <div class="hide-text" style="width:350px">
            {{ drawerData.filename }}
          </div>
        </div>
        <div class="file-info">
          <div class="file-info-title">
            基础信息
          </div>
          <div class="image-wrapper">
            <img v-if="checkImgType(drawerData.filename)" :src="drawerData.path" :alt="drawerData.filename" />
            <img v-else src="https://qiniu.staticfile.org/static/no-prev-eefefb160de84ae92123de3ece7be82f.png" alt="该文件无法预览" />
          </div>
          <div v-if="!edit" class="file-info-item">
            <span class="file-info-item-title">文件名</span>
            <span class="file-info-item-content hide-text" style="width:350px">{{ drawerData.filename }}</span>
            <i class="el-icon-edit" @click="startEdit"></i>
          </div>
          <div v-if="edit" class="file-info-item change-file-name">
            <span class="file-info-item-title">文件名</span>
            <el-input v-model="fileName" @keyup.enter.native="modifyFileName">
              <!-- <template slot="append">
                {{
                  drawerData.filename
                    .split('.')
                    .slice(-1)
                    .toString()
                }}
              </template> -->
            </el-input>
            <i class="el-icon-check" @click="modifyFileName"></i>
            <i class="el-icon-close" @click="cancel"></i>
          </div>
          <div class="file-info-item">
            <span class="file-info-item-title">文件类型</span>
            <span class="file-info-item-content">{{ drawerData.contentType }}</span>
          </div>
          <div class="file-info-item">
            <span class="file-info-item-title">ETag</span>
            <span class="file-info-item-content">{{ drawerData.md5 }}</span>
          </div>
          <div class="file-info-item">
            <span class="file-info-item-title">文件大小</span>
            <span class="file-info-item-content">{{ formatSize(drawerData.size) }}</span>
          </div>
          <div class="file-info-item" style="display:flex;">
            <div class="file-info-item-title">文件链接</div>
            <el-tooltip effect="dark" content="点击复制文本" placement="bottom" :open-delay="1000">
              <div id="copy_text" class="file-info-item-content pointer" style="width:350px" :data-clipboard-text="drawerData.path" @click="handleCopyFun">{{ drawerData.path }}</div>
            </el-tooltip>
          </div>
        </div>
      </div>
      <div class="drawer-container-footer">
        <el-button type="primary">关闭</el-button>
      </div>
    </div>
  </el-drawer>
</template>

<script>
import Clipboard from 'clipboard'
import { formatFileSize, checkImgType } from '@/utils/index'
import { rename } from '@/api/upload'
export default {
  data() {
    return {
      drawer: false,
      checkImgType: checkImgType,
      edit: false,
      fileName: '',
      drawerData: {}
    }
  },
  methods: {
    startEdit() {
      this.fileName = this.drawerData.filename
      this.edit = true
    },
    setData(data) {
      this.drawerData = data
    },
    openDrawer(val) {
      this.drawer = val
    },
    cancel() {
      this.fileName = this.drawerData.filename
      this.edit = false
    },
    formatSize(cellValue) {
      return formatFileSize({ cellValue })
    },
    modifyFileName() {
      const temp = this.fileName
      this.$confirm(`是否要修改当前文件 ${this.drawerData.filename} 为 ${temp}？`)
        .then(_ => {
          rename({
            filename: this.fileName,
            md5: this.drawerData.md5,
            workspace: this.drawerData.workspace
          }).then(res => {
            this.$message({
              type: 'success',
              showClose: true,
              message: '修改成功',
              duration: 2000
            })
            this.drawerData.filename = temp
            this.$emit('initialize')
            this.edit = false
          })
        })
        .catch(_ => {})
      // rename
    },
    // 操作：点击了复制按钮
    handleCopyFun() {
      const clipboard = new Clipboard('#copy_text')
      clipboard.on('success', e => {
        this.$message({
          type: 'success',
          showClose: true,
          message: '文件链接已复制到剪贴板',
          duration: 2000
        })
        clipboard.destroy() // 释放内存
      })
      clipboard.on('error', e => {
        // 不支持复制
        this.$message({
          type: 'warning',
          showClose: true,
          message: '该浏览器不支持自动复制',
          duration: 2000
        })
        clipboard.destroy() // 释放内存
      })
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep {
  .el-drawer__header {
    padding: 16px 24px;
    border-bottom: 1px solid #e8e8e8;
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .el-drawer__body {
    display: flex;
    flex: 1;
    padding: 16px 24px 0 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    overflow: auto;
  }
}
.drawer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .drawer-container-header {
    position: relative;
    padding: 0px 0 16px 0;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
    div {
      margin: 0;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
    }
  }
  .drawer-container-main {
    flex: 1;
    padding-top: 24px;
    .file-name {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      padding-left: 5px;
      span {
        width: 4px;
        height: 16px;
        background: #baedff;
        margin-right: 6px;
      }
    }
    .file-info {
      margin-top: 24px;
      .file-info-title {
        font-size: 14px;
        font-weight: 500;
        color: #000;
      }
      .image-wrapper {
        padding-right: 10px;
        width: 100%;
        border: 1px solid transparent;
        margin: 24px 0;
        overflow: hidden;
        img {
          max-width: 40%;
          max-height: 210px;
          vertical-align: middle;
        }
      }
      .file-info-item {
        padding-right: 10px;
        margin-bottom: 20px;
        height: 32px;
        display: flex;
        align-items: center;
        .file-info-item-title {
          display: inline-block;
          width: 80px;
          font-size: 14px;
          color: #262626;
        }
        .file-info-item-content {
          color: #8c8c8c;
        }
        i {
          margin-left: 12px;
          cursor: pointer;
          &:hover {
            color: #409eff;
          }
        }
      }
      .change-file-name {
        display: flex;
        align-items: center;
        ::v-deep {
          .el-input {
            width: 40%;
            height: 32px;
          }
          .el-input__inner {
            height: 32px;
          }
        }
      }
    }
  }
  .drawer-container-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 24px;
    text-align: right;
    border-top: 1px solid #e8e8e8;
  }
}
</style>
