<template>
  <div class="file-upload-progress" :class="state ? 'hide' : ''">
    <div class="header">
      <div class="icon-div">
        <i class="el-icon-minus" @click="state = !state"></i>
      </div>
      <span>文件上传列表</span>
      <div></div>
      <!-- <i class="el-icon-close"></i> -->
    </div>
    <ul class="main">
      <FileUploadItem v-for="(item, index) in files" :key="index" :file-data="item" class="item" @updateTable="updateTable" />
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import XEUtils from 'xe-utils'
import { formatFileSize } from '@/utils/index'
import FileUploadItem from '@/components/FileUploadItem'
export default {
  components: { FileUploadItem },
  data() {
    return {
      files: [],
      state: false
    }
  },
  computed: {
    ...mapGetters(['uploadData'])
  },
  watch: {
    uploadData: {
      async handler(val, oldVal) {
        this.start(val)
      },
      deep: true // true 深度监听
    }
  },
  methods: {
    async start(val) {
      if (val) {
        await val.map(item => {
          this.files.push({
            date: XEUtils.toDateString(new Date()),
            size: formatFileSize({ cellValue: item.size }),
            percentage: 0,
            state: 0,
            filename: item.name,
            fileType: item.raw.type,
            value: item,
            isUploadFaild: false
          })
        })
      }
    },
    setShowState(val) {
      this.state = val
    },
    updateTable() {
      this.$emit('initialize')
    }
  }
}
</script>

<style lang="scss" scoped>
.hide {
  bottom: -370px !important;
}
.file-upload-progress::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.file-upload-progress {
  position: fixed;
  width: 340px;
  height: 400px;
  bottom: 0px;
  // left: 50px;
  transition: bottom 1s ease-in-out;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  flex-direction: column;

  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
  .header {
    width: 100%;
    height: 30px;
    border-radius: 2px 2px 0 0;
    background-color: #589ef8;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    .icon-div {
      height: 30px;
      width: 24px;
      display: flex;
      border-radius: 50%;
      :hover {
        background-color: #74abf1;
      }
      i {
        margin: auto;
        cursor: pointer;
      }
    }

    span {
      font-weight: 500;
    }
  }
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}
</style>
