<template>
  <div class="app-container file-upload">
    <div class="file-upload-header">
      <div class="item">
        <span class="title">已使用：</span>
        <span class="text">{{ formatFileSize({ cellValue: storage }) }}</span>
      </div>
      <div class="item">
        <span class="title">总量：</span>
        <span class="text">{{ formatFileSize({ cellValue: total }) }}</span>
      </div>
      <div class="item">
        <span class="title">工作空间：</span>
        <span class="text">{{ workspace }}</span>
      </div>
    </div>
    <vxe-table class="custom-table" @fetch="fetch" />
  </div>
</template>

<script>
import vxeTable from '@/components/VxeTable/index.vue'
import { workspace } from '@/api/upload'
import { getWorkspace } from '@/utils/auth'
import { formatFileSize } from '@/utils/index'

export default {
  components: { vxeTable },
  data() {
    return {
      storage: 0,
      total: 0,
      workspace: getWorkspace(),
      formatFileSize: formatFileSize
    }
  },
  methods: {
    fetch() {
      workspace({ workspace: getWorkspace() }).then(res => {
        this.storage = res.body.used
        this.total = res.body.total
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.file-upload {
  height: 100%;
  display: flex;
  flex-direction: column;
  .file-upload-header {
    border: 1px solid #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    width: 100%;
    padding: 4px 10px;
    background-color: #fafafa;
    transition: 0.3s;

    .item {
      display: inline-block;
      padding: 6px 10px;
      margin-right: 40px;
      border-radius: 2px;
      transition: 0.3s;
      font-size: 14px;
      .title {
        font-weight: 500;
        margin-right: 6px;
        color: #595959;
      }
      .text {
        color: #595959;
      }
    }
  }
  .custom-table {
    flex: 1;
  }
}
</style>
